<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>311InYourNeighborhood</title>

<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link href="static/styles.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<p class="lead">311InYourNeighborhood</p>
			<div class="col-sm-6">
				<button type="button" onclick="train()"
					class="btn btn-primary btn-primary">
					<span class="glyphicon glyphicon-fire"></span> Train
				</button>
			</div>
			<div class="col-sm-6">
				<button type="button" onclick="pull()"
					class="btn btn-primary btn-primary">
					<span class="glyphicon glyphicon-fire"></span> Pull
				</button>
			</div>
		</div>



		<div class="row">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>CASE_ENQUIRY_ID</th>
						<th>Prediction</th>
						<th>Original Value</th>
					</tr>
				</thead>
				<tbody id="predBody">

				</tbody>
			</table>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		function pull() {

			$.ajax({
				method : "POST",
				url : "./api/pull",
				contentType : "application/json"
			}).done(function(data) {
				console.log(data);
				alert(data);
				$('#response').html(data);
			});
		}

		function train() {

			$.ajax({
				method : "POST",
				url : "./api/train",
				contentType : "application/json"
			}).done(function(data) {
				
				$('#response').html(data);
			});
		}
	</script>
</body>

</html>
